<!--<ion-header>
    <a (click)="dismissModal()">Cerrar</a>
</ion-header>-->
<ion-content class="popover">
    <ion-grid>
        <ion-row>
            <ion-col text-right>
                <ion-button (click)="editNote()" class="pb-simple pb-border">Editar Nota</ion-button>
            </ion-col>
        </ion-row>
        <hr>
        <ion-row>
            <ion-col text-center>
                <p>Nota</p>
                <ion-item>
                    <ion-textarea [(ngModel)]="noteText"></ion-textarea>
                </ion-item>
            </ion-col>
        </ion-row>
        <hr>
        <ion-row>
            <ion-col text-center>
                <ion-button (click)="dismissModal()" class="pb-simple pb-border">Cerrar</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>