<ion-header>
    <a (click)="dismissModal()">Cerrar</a>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col text-center>
                <ion-item style="background: white">
                    <ion-label>Temas</ion-label>
                    <ion-select (ionChange)="changeTheme($event)">
                        <ion-select-option value="light">Light</ion-select-option>
                        <ion-select-option value="dark">Dark</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>Tamaño letra</ion-label>
                    <ion-select (ionChange)="changeFontSize($event)">
                        <ion-select-option value="100%">100%</ion-select-option>
                        <ion-select-option value="120%">120%</ion-select-option>
                        <ion-select-option value="140%">140%</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>