<!--<ion-header>
    <a (click)="dismissModal()">Cerrar</a>
</ion-header>-->
<ion-content class="popover">
    <ion-grid>
        <ion-row>
            <ion-col size="4">
                Selección
            </ion-col>
            <ion-col>
                <ion-item style="background: white">
                    {{textSelected}}
                </ion-item>
            </ion-col>
        </ion-row>
        <hr>
        <ion-row>
            <ion-col size="4">
                Guardar como
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-textarea [(ngModel)]="noteText"></ion-textarea>
                </ion-item>
            </ion-col>
        </ion-row>
        <hr>
        <ion-row>
            <ion-col text-center>
                <ion-button (click)="addNote()" class="pb-border">Crear nota</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center>
                <a (click)="dismissModal()"><img src="assets/images/icon_close.svg"></a>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>