<ion-header *ngIf="showElement">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-grid>
            <ion-row>
                <ion-col float-left size="5">
                    <div class="pb-title-text">{{bookName}}</div>
                </ion-col>
                <ion-col float-right text-right>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-button routerLink="/library" class="pb-button">
                                    <img src="assets/images/icon_home.svg">
                                </ion-button>
                            </ion-col>
                            <ion-col>
                                <ion-button (click)="openCustom('search')" class="pb-button">
                                    <img src="assets/images/icon_search.svg">
                                </ion-button>
                            </ion-col>
                            <ion-col>
                                <ion-button (click)="presentStylesPopOver()" class="pb-button">
                                    <img src="assets/images/icon_letter.svg">
                                </ion-button>
                            </ion-col>
                            <!--<ion-col>-->
                                <!--<ion-button routerLink="/bookmarks" class="pb-button">-->
                                    <!--<img src="assets/images/icon_more.svg">-->
                                <!--</ion-button>-->
                            <!--</ion-col>-->
                            <ion-col>
                                <ion-button (click)="presentPersistence()" class="pb-button">
                                    <img src="assets/images/icon_more.svg">
                                </ion-button>
                            </ion-col>
                            <ion-col>
                                <ion-button (click)="bookMarkPage()" class="pb-button">
                                    <img src="assets/images/icon_bookmark.svg">
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-buttons slot="end">

        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content id="test">
    <ion-menu side="end" menuId="search" type="push" contentId="main-search" style="z-index: 1">
        <ion-content>
            <div class="pb-right">
                <ion-searchbar (ionChange)="searchBook($event)" style="color: white"></ion-searchbar>
                <ion-menu-toggle auto-hide="false">
                    <ion-list>
                        <ion-item *ngFor="let result of searchResults" (click)="goToPageFromCfi(result.cfi)">
                            <p>{{result.excerpt}}</p>
                        </ion-item>
                    </ion-list>
                </ion-menu-toggle>
            </div>
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-search"></ion-router-outlet>
    <div id="area"></div>
    <!--<div id="touchlayer" style="width: 100%; height: 100%; position: absolute; z-index: 1" (click)="showHeader()"></div>-->
</ion-content>

<ion-footer align-items-center *ngIf="showElement">
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col float-left>
                    <a (click)="prevPage()" float-left>
                        <ion-icon name="arrow-dropleft-circle"></ion-icon>
                    </a>
                </ion-col>
                <ion-col text-center>
                    <!--<a (click)="bookMarkPage()" >
                        <ion-icon name="bookmark"></ion-icon>
                    </a>-->
                    <img src="assets/images/logo_bottom.svg" title="PadBook" alt="PadBook">
                </ion-col>
                <ion-col float-right>
                    <a (click)="nextPage()" float-right>
                        <ion-icon name="arrow-dropright-circle"></ion-icon>
                    </a>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>