<ion-header *ngIf="showElement">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-grid>
            <ion-row>
                <ion-col float-left text-center>
                    <img src="assets/images/logo.svg" title="PadBook" alt="PadBook">
                </ion-col>
                <ion-col>
                    <ion-title class="pb-title">
                        <span class="pb-text-1">Primero mi primaria</span> <span class="pb-text-2">Grado 1</span>
                    </ion-title>
                </ion-col>
                <ion-col>
                    <ion-button routerLink="/bookmarks" float-right class="pb-button-bm">
                        <ion-icon name="bookmark"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="touchlayer" style="width: 100%; height: 100%; position: absolute; z-index: 1" (click)="showHeader()"></div>
    <div id="area"></div>
</ion-content>

<ion-footer align-items-center *ngIf="showElement">
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col float-left>
                    <a (click)="prevPage()" float-left>
                        <ion-icon name="arrow-dropleft-circle"></ion-icon>
                    </a>
                </ion-col>
                <ion-col text-center>
                    <a (click)="bookMarkPage()" >
                        <ion-icon name="bookmark"></ion-icon>
                    </a>
                </ion-col>
                <ion-col float-right>
                    <a (click)="nextPage()" float-right>
                        <ion-icon name="arrow-dropright-circle"></ion-icon>
                    </a>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>
