<ion-header *ngIf="showElement">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-grid>
            <ion-row>
                <ion-col float-left size="5">
                    <div class="pb-title-text">{{bookName}}</div>
                </ion-col>
                <ion-col float-right text-right>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-button routerLink="/library" class="pb-button">
                                    <img src="assets/images/icon_home.svg">
                                </ion-button>
                            </ion-col>
                            <ion-col>
                                <ion-button (click)="openCustom('search')" class="pb-button">
                                    <img src="assets/images/icon_search.svg">
                                </ion-button>
                            </ion-col>
                            <ion-col>
                                <ion-button (click)="presentStylesPopOver()" class="pb-button">
                                    <img src="assets/images/icon_letter.svg">
                                </ion-button>
                            </ion-col>
                            <ion-col>
                                <ion-button (click)="openCustom('storage-content')" class="pb-button">
                                    <img src="assets/images/icon_more.svg">
                                </ion-button>
                            </ion-col>
                            <ion-col>
                                <ion-button (click)="bookMarkPage()" class="pb-button">
                                    <img src="assets/images/icon_bookmark.svg">
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-buttons slot="end">

        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content id="test">
    <ion-menu side="end" menuId="search" type="push" contentId="main-search" style="z-index: 1">
        <ion-content>
            <div class="pb-right">
                <ion-searchbar (ionChange)="searchBook($event)" style="color: white"></ion-searchbar>
                <ion-menu-toggle auto-hide="false">
                    <ion-list>
                        <ion-item *ngFor="let result of searchResults">
                            <p (click)="goToPageFromCfi(result.cfi)">{{result.excerpt}}</p>
                        </ion-item>
                    </ion-list>
                </ion-menu-toggle>
            </div>
        </ion-content>
    </ion-menu>
    <ion-menu side="end" menuId="storage-content" type="push" contentId="storage-content" style="z-index: 1">
        <ion-content>
            <form (submit)="doSubmit($event)" [formGroup]="storageOptions">
                <ion-radio-group value="biff" formControlName="opts">
                    <ion-item>
                        <ion-label><p>Bookmarks</p></ion-label>
                        <ion-radio slot="start" value="bookmarks" (click)="doSubmit($event)"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label><p>Notes</p></ion-label>
                        <ion-radio slot="start" value="notes" (click)="doSubmit($event)"></ion-radio>
                    </ion-item>
                </ion-radio-group>
            </form>
            <ion-item-divider color="secondary">
                <ion-label>
                    Resultados
                </ion-label>
            </ion-item-divider>
            <ion-menu-toggle auto-hide="false" *ngIf="showBookMarks">
                <ion-list>
                    <ion-item *ngFor="let bookMark of bookMarks; let i = index" style="color: white">
                        <ion-label>
                            <p (click)="goToPageFromBookMark(bookMark)">Bookmark #{{i}}</p>
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false" *ngIf="showNotes">
                <ion-list>
                    <ion-item *ngFor="let result of notes">
                        <p (click)="goToPageFromCfi(result.cfi)">{{result.excerpt}}</p>
                    </ion-item>
                </ion-list>
            </ion-menu-toggle>
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="storage-content"></ion-router-outlet>
    <ion-router-outlet id="main-search"></ion-router-outlet>
    <!--<div id="touchlayer" style="width: 100%; height: 100%; position: absolute; z-index: 1" (click)="showHeader()"></div>-->
    <div id="area"></div>
</ion-content>

<ion-footer align-items-center *ngIf="showElement">
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col float-left>
                    <a (click)="prevPage()" float-left>
                        <ion-icon name="arrow-dropleft-circle"></ion-icon>
                    </a>
                </ion-col>
                <ion-col text-center>
                    <!--<a (click)="bookMarkPage()" >
                        <ion-icon name="bookmark"></ion-icon>
                    </a>-->
                    <img src="assets/images/logo_bottom.svg" title="PadBook" alt="PadBook">
                </ion-col>
                <ion-col float-right>
                    <a (click)="nextPage()" float-right>
                        <ion-icon name="arrow-dropright-circle"></ion-icon>
                    </a>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>