<ion-header>
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-title padding-top="16px" class="pb-title">
                        <span class="pb-text-1">Marcadores</span>
                    </ion-title>
                </ion-col>
                <ion-col>
                    <ion-button [size]="small" routerLink="/home" float-right>
                        <ion-icon name="home"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>

    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card *ngFor="let bookmark of bookMarks; let i = index">
        <ion-card-header>
            <ion-grid>
                <ion-row>
                    <ion-col float-left>
                        <ion-card-title>Marcador #{{i}}</ion-card-title>
                    </ion-col>
                    <ion-col float-right>
                        <a (click)="deleteBookMark(bookmark.pageIndex)" float-right>
                            <ion-icon name="close-circle"></ion-icon>
                        </a>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </ion-card-header>
        <ion-card-content>
            <p (click)="goToPage(bookmark.pageIndex)">Ir a Pagina {{bookmark.pageIndex}}</p>
        </ion-card-content>
    </ion-card>

</ion-content>